<div id="new-task">
  <%= form_for(@task) do |f| %>
    <%= f.text_field :title, placeholder: "what do you want to do ?" %>

    <%= f.text_field :details, placeholder: "details, please." %>

    <%= f.submit %>
  <% end %>
</div>
